.menu {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    visibility: hidden;
    opacity: 0;
    transition: 2s; 
    text-align: center;
    backdrop-filter: blur(15px);

}

.menu.active {

    visibility: visible; 
    opacity: 1;

}

.btn {

    z-index: 2000;
    width: 400px;
    display: flex;            
    justify-content: center;    
    align-items: center; 
    height: 40px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.325);
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 1s;
    box-shadow : 8px 11px 5px rgba(255, 255, 255, 0.217);
    cursor: none;

}

.menu.active .btn {

    cursor: pointer;
    
}
 
.btn:hover, .inputSize:focus {

    height: 80px;

}

.size {

    display: flex;          
    justify-content: center; 
    gap: 20px; 

}

.inputSize {

    border: none;
    width: 190px;
    display: flex;
    outline: none;
    text-align: center;
    appearance: textfield;

}

.inputSize::-webkit-inner-spin-button,
.inputSize::-webkit-outer-spin-button {

    -webkit-appearance: none;
    margin: 0;
    
}

::placeholder {

    color: white;

}

@media screen and (max-width: 550px) {
    .btn {
        width: 300px;
    }
    
    .inputSize {
        width: 140px;
    }
}