@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

body {

    background-color: black; 
    overflow: hidden;

}

canvas {

    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}