@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;

}

body {

    background-color: black; 
    overflow: hidden;
    cursor: none;

}

canvas {

    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 

}

/*-----Scroll bar pour webkit-----*/

::-webkit-scrollbar {

    width: 0.5vw;
  
}
  
::-webkit-scrollbar-thumb {
  
    background-color: white;
    border-radius: 6vh;
    height: 16.5vh; 
  
}
  
::-webkit-scrollbar-thumb:hover {
  
    background-color: #555;
  
}